.product{
    width: 300px;
    height: 510px;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 10px;
}
.product-data{
    padding-left: 15px;
}


.product img{
    width: 268px;
    height: 268px;
    margin: 5px 15px;
    border-radius: 10px;
    
}

